*{
    margin: 0px;
    padding: 0px;
}
.manu-container{
    background-color: rgb(49, 49, 49);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 120px;
}
.manus{
    display: flex;
    cursor: pointer;
}
.item{
    margin-left: 10px;
    font-size: 18px;
}
.item:hover{
    color: rgb(14, 14, 226);
    /* background-color: aqua; */
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    /* border: 2px solid gray; */
    background-image: url(../images/background.png),linear-gradient(45deg,#0f0f0f,#5f5e5e);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.banner-img{
    width: 300px;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.title1{
    font-size: 30px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: wheat;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    background-color: aqua;
    cursor: pointer;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 15px;
}
.about-title{
    text-align: center;
    padding-top: 20px;
}